@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fonte-menu: "EB Garamond", serif;
  --font-principal: "Poppins", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font-principal);
}
html,
body {
  background: url("../imagens/geral/background-new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
header {
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.062));
  max-width: 100%;
}
.header-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.logo-name {
  display: flex;
  align-items: center;
}
.logo-name p {
  display: none;
}
.logo-name img {
  width: 50px;
}
.menu-itens {
  display: flex;
  gap: 30px;
}
.show-menu {
  display: none;
}
.menu-itens a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.menu-itens a:hover {
  color: #b68c4d;
}
.shopping-search a {
  color: white;
}
.shopping-search a:hover {
  color: #b68c4d;
}
.call-action {
  padding: 50px;
}
.call-action h1 {
  font-size: 50px;
  font-family: var(--font-principal);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
}
.call-action p {
  color: white;
  font-family: var(--font-principal);
  padding-bottom: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.699);
}
.call-action a {
  padding: 20px 45px;
  color: white;
  background-color: #b68c4d;
  border-radius: 40px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-principal);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
}
.call-action a:hover {
  background-color: white;
  color: #b68c4d;
}
