@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+RO:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #cccccc;
}

:root {
  --font-quick: "Quicksand", sans-serif;
  --font-pacific: "Pacifico", cursive;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../imagens/fundo-header.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  text-align: center;
  padding: 25px;
  font-family: var(--font-quick);
  font-weight: 600;
}
#logo-cafe {
  width: 200px;
}
header h1 {
  padding: 10px;
  color: #ffffff;
  font-family: var(--font-quick);
  font-size: 2.5em;
}
header p {
  color: #402d22;
  font-family: var(--font-pacific);
  font-weight: lighter;
  font-size: 1.2em;
}

#barra-navegacao {
  text-align: center;
  padding: 10px;
}
#barra-navegacao a {
  text-decoration: none;
  color: #fefefa;
  padding: 10px;
  font-family: var(--font-quick);
}
#barra-navegacao input {
  height: 22px;
  border-radius: 5px;
}
#barra-navegacao a:hover {
  background-color: #402d2267;
  box-shadow: 0 0 12px #ffffff, 0 0 24px #a4704933;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
}
#sobre-nos {
  background-image: url("..//imagens/fundo-sobre.png");
  height: 90vh;
  background-size: auto 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.753);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
#sobre-nos p {
  font-family: var(--font-quick);
  text-align: center;
}
#sobre-nos ul {
  font-family: var(--font-quick);
  list-style-position: inside;
  list-style-type: "\2615";
  text-align: center;
}

#titulo-sobre-nos {
  text-align: center;
  font-family: var(--font-quick);
  font-size: 2.5em;
  margin: 10px;
  font-family: var(--font-quick);
  padding: 10px;
  color: #402d22;
}
section #imagem-trabalho {
  max-width: 100%;
  border-radius: 10px;
  padding-top: 20px;
}
#titulo-cardapio {
  text-align: center;
  padding: 20px;
  font-family: var(--font-quick);
  font-size: 2.5em;
  color: #402d22;
}
#paragrafo-adicional p {
  text-align: center;
  font-size: 1.2em;
  font-family: var(--font-quick);
  font-weight: 400;
  padding-top: 10px;
}
#principal-menu {
  background-color: #aa704457;
  margin: 15px;
  border-radius: 5px;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.644);
}
.sub-menu {
  display: flex;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding: 20px;
}

.sub-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.sub-menu img {
  width: 200px;
  padding: 15px;
  gap: 30px;
  border-radius: 25px;
}
.sub-menu p {
  font-family: var(--font-quick);
  font-size: 1.2em;
  font-weight: bolder;
}
.sub-menu img:hover {
  width: 200px;
  padding: 15px;
  gap: 40px;
}

#contato {
  font-family: var(--font-quick);
  text-align: center;
  padding: 10px;
}
#contato h2 {
  font-size: 2.5em;
  padding: 10px;
  color: #402d22;
  padding-bottom: 40px;
}
#mapas {
  position: relative;
  padding: 20px;
  padding-bottom: 56.5%;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.644);
}
#mapas > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
address {
  padding: 15px;
  margin: 15px;
}
address a {
  padding: 15px;
  margin: 15px;
  text-decoration: none;
  color: #402d22;
  font-weight: bold;
}
#delivery {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../imagens/delivery.png");
  padding: 100px;
  background-repeat: no-repeat;
  background-position: bottom bottom;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.644);
  margin: 10px;
  border-radius: 5px;
}
#delivery h2 {
  padding: 20px;
  font-size: 2.5em;
  color: #dadada;
  font-family: var(--font-quick);
  filter: brightness(100%);
}

#botao {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 15px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.699);
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2em;
  font-family: var(--font-quick);
}
#botao:hover {
  transform: scale(1.1);
}
footer {
  background-color: black;
  margin-top: 30px;
  padding: 10px;
  color: white;
  text-align: center;
}
footer h2 {
  color: white;
}
footer p {
  color: whitesmoke;
}

footer #horario-funcionamento {
  text-align: center;
  font-family: var(--font-quick);
}
footer #redes-sociais {
  font-family: var(--font-quick);
  padding: 10px;
}
#redes-sociais ul {
  list-style-position: inside;
  padding: 10px;
}

footer #redes-sociais a {
  color: white;
}
footer #redes-sociais a:hover {
  color: #402d22;
}
footer #politica-de-privacidade {
  background-color: rgb(0, 0, 0);
  font-family: var(--font-quick);
}
footer #politica-de-privacidade a {
  background-color: rgb(0, 0, 0);
  font-family: var(--font-quick);

  color: white;
}
footer #politica-de-privacidade a:hover {
  font-family: var(--font-quick);
  text-decoration: none;
  color: #402d22;
}
footer .desenvolvedor {
  text-align: center;
  font-family: var(--font-quick);
  padding: 10px 10px;
}
